body{
	margin: 0;
	padding: 0;
	border: 0;
}
#border{
    z-index: -15;
    position: relative;
    top: 9px;
    background-color: #f5f5dc;
    left: 39px;
    width: 480px;
    height: 460px;
    border: 2px solid #001100;
    padding: 20px;
}
button {
    border-radius: 10px;
    padding: 7px;
    background: linear-gradient(to top, #FFFAFA, #8B8682);
    font-weight: 600;
}
.buttons{
    
}
.field{
    z-index: 30;            
    height: 23px;
    
}
.cell{
    margin: 0;
    display: inline-block;
    background-color: white;
    width: 22px;
    height: 22px;
    border: 1px solid #010;
    border-radius: 4px;
    z-index: 30;
    transition: background-color 0.3s;
}
.snake{
    box-shadow: 0 0 10px #000000 inset;
    background: linear-gradient(to right, #556B2F, #556B2F);
    z-index: 30;
    transition: background 0.2s;
}
.food{
    background-color:#00FF00;
    z-index: 30;
    box-shadow: 0 0 10px #000000 inset;
    transition: background-color 2s;
}
.redfood{
    background-color:#FF0000;
    z-index: 30;
    box-shadow: 0 0 10px #000000 inset;
    transition: background-color 2s;
}
.death{
    background-color:#0000FF;
    z-index: 30;
    box-shadow: 0 0 10px #000000 inset;
    transition: background-color 2s;
}
#Setting{
    position: relative;
    width: 300px;
    height: 200px;
    margin-left: 5%;
}
.bl{
    display: inline-block;
}
#DefeatScreen, #WinScreen
{
    display: none;
    position: absolute;    
    width: 550px;
    height: 120px;
    margin-left: 2%;
    margin-top: 7%;

}
#DefeatScreen p, #WinScreen p
{
    padding: 10px;
    margin: 0 auto;
    font-size: 100px;
    font-weight: 600;
    background: linear-gradient(#c20000, #330000);
    -webkit-background-clip: text;
    color: transparent;
    transition: top 1s ease-out 0.5s;
}
#Score
{
    position: absolute;
    font-size: 30px;
    font-weight: 300;
    margin-left: 570px;
    margin-top: 30px;
}